$darkred: #6e0028;
$medred: #eb868d;
$lightred: #ffcfcc;
$gold: #ffb432;

$lightblue: #4DB7FF;
$medblue: #0F4880;
$darkblue: #0A3055;
$slate: #34515E;

$banner-scale: 1.2;
$banner-width: 300px * $banner-scale;
$banner-height: 80px * $banner-scale;
$banner-left-font: 36px * $banner-scale;
$banner-right-font: 16px * $banner-scale;
$banner-right-padding: 17px * $banner-scale;
$banner-main-font-size: 18px * $banner-scale;
$banner-small-font-size: 12px * $banner-scale;

$fullwidth: 1500px;

body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Rubik';
}

a{
  color: unset;
  text-decoration: unset;
}