$darkred: #6e0028;
$medred: #eb868d;
$lightred: #ffcfcc;
$gold: #ffb432;

$lightblue: #4DB7FF;
$medblue: #0F4880;
$darkblue: #0A3055;
$slate: #34515E;

$top-container-height: 964px;
$banner-scale: 1.2;
$banner-width: 300px * $banner-scale;
$banner-height: 80px * $banner-scale;
$banner-left-font: 36px * $banner-scale;
$banner-right-font: 16px * $banner-scale;
$banner-right-padding: 17px * $banner-scale;
$banner-main-font-size: 18px * $banner-scale;
$banner-small-font-size: 12px * $banner-scale;
$hero-scale: 1.0;
$hero-top-margin: 64px;

$main-item-width: 800px;
$main-bottom: 120px;

$main-offset: -50px;
$main-offset-increment: 24px;

$item1-y: 450px;
$item2-y: 170px;
$item3-y: 290px;

$fullwidth: 1500px;

$navbar-height: 84px;
$navbar-break: 800px;

body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Rubik';
  font-size: 20px;
}

a{
  color: unset;
  text-decoration: unset;
}

img{
  max-width: 100%;
  display: block;
}

.container{
  padding: 48px 24px;
  max-width: 800px;
  margin: $navbar-height auto 0 auto;

  figure.wp-block-image{
    margin: 64px 0;
  }

  a{
    color: $lightblue;
  }

  p, ul, ol, blockquote, figure.wp-block-image{
    line-height: 1.5;
    font-family: 'Spectral';
  }

  .kenzap-members > div{
    margin: 0;
    justify-content: unset;
  }

  .wp-block-cover{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
}

.covid-back{
  background-color: $darkred;
  width: 100%;
  height: 300px + $navbar-height;
}

@media (min-width: 800px){
  .container h1{
    font-size: 64px;
  }
}

.cac{
  margin-top: -300px;

  h1{
    color: #fff;
  }
}