.top-container{
    width: 100%;
    padding: $navbar-height 0;
    background: linear-gradient(-45deg, $medblue 0%, $darkblue 100%);

    .top-container-inner{
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
}

.top-container ~ .container{
    margin-top: 0;
}

.banner-item{
    position: relative;
    display: inline-block;
    left: calc(50% - #{$banner-width / 2});
    margin-top: 32px;

    .banner-item-inner{
        background-color: #fff;
        width: $banner-width;
        height: $banner-height;
        display: inline-flex;
        position: relative;
        z-index: 2;
        box-shadow: -3px 3px 20px 0 rgba(0,0,0,0.2);
    }

    .banner-item-back{
        width: $banner-width;
        height: 100%;
        position: absolute;
        top: -12px;
        left: -12px;
        z-index: 1;
        box-shadow: -1px 1px 10px 0 rgba(0,0,0,0.1);
        background: linear-gradient(45deg, $lightblue 0%, $medblue 100%);
    }
}

.banner-item-left{
    width: $banner-height;
    height: $banner-height;
    background: linear-gradient(135deg, $slate 0%, $darkblue 100%);
    color: #fff;
    text-align: center;
    font-size: $banner-left-font;
    line-height: $banner-height;
    font-family: 'Rubik';
    font-weight: 700;
}

.banner-item-right{
    box-sizing: border-box;
    font-size: $banner-right-font;
    padding: 0 $banner-right-padding;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 1.0;

    .banner-main{
        font-family: 'Spectral';
        font-size: $banner-main-font-size;
        font-style: italic;
        font-weight: 700;
    }

    .banner-small{
        margin-top: 2px * $banner-scale;
        font-family: 'Rubik';
        font-size: $banner-small-font-size;
        font-weight: 300;
    }
}

@media (max-width: 720px){
    #item3{
        left: calc(50% - #{$banner-width / 2});
    }

    #item2{
        left: calc(100% - #{$banner-width} - 12px);
    }

    #item1{
        left: 24px;
    }
}

.hero-text{
    margin-top: $hero-top-margin;
    text-align: center;
}

.main-item{
    position: relative;
    top: 48px;
    width: 100%;
    margin: 0 auto;

    img{
        width: 100%;
    }
}

#hero1{
    font-size: 60px * $hero-scale;
    font-family: 'Spectral';
    font-weight: 900;
    line-height: 1.05;
    color: rgba(255,255,255,0.3);
}

#hero2{
    font-size: 20px * $hero-scale;
    font-family: 'Rubik';
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255,255,255,0.1);
}

@media (min-width: 720px * $hero-scale){
    #hero1{
        font-size: 120px * $hero-scale;
    }

    #hero2{
        font-size: 36px * $hero-scale;
    }

    .banner-item{
        position: absolute;
        margin: unset;
        bottom: 0;
    }

    #item3{
        margin-left: 24vw;
        margin-bottom: -32px;
    }

    #item2{
        margin-left: -22vw;
        margin-bottom: -110px;
    }

    #item1{
        margin-left: -22vw;
        margin-bottom: 49vw;
    }
}

@media (min-width: 1100px * $hero-scale){
    #hero1{
        font-size: 200px * $hero-scale;
    }

    #hero2{
        font-size: 60px * $hero-scale;
    }

    .main-item{
        width: $main-item-width;
        top: $main-offset;
    }

    #item3{
        margin-left: 400px;
        margin-bottom: $item3-y - $main-offset-increment;
    }

    #item2{
        margin-left: -400px;
        margin-bottom: $item2-y - $main-offset-increment;
    }

    #item1{
        margin-left: -300px;
        margin-bottom: $item1-y - $main-offset-increment;
    }
}

@media (min-width: 1500px * $hero-scale){
    #hero1{
        font-size: 280px * $hero-scale;
    }

    #hero2{
        font-size: 80px * $hero-scale;
    }

    .main-item{
        top: $main-offset - $main-offset-increment;
    }

    #item3{
        margin-bottom: $item3-y;
    }

    #item2{
        margin-bottom: $item2-y;
    }

    #item1{
        margin-bottom: $item1-y;
    }
}

@media (min-width: 1100px) and (max-width: 1240px){
    #item3{
        margin-left: 28vw;
        margin-bottom: 10vw;
    }

    #item2{
        margin-left: -28vw;
    }

    #item1{
        margin-left: -20vw;
    }
}